<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>帮助 - Pikabdar's Web</title>
</head>
<body>
    <h3 align="leaft" style="color:black">当前时间：{{t_time}}</h3>
    <h1 align="center" style="color:red">Hello!Welcome To Pikabear's Web</h1>
    <h1 align="center" style="color:black">报错信息汇总：</h1>
    <h2 align="center" style="color:black">404 Not Fond：99%是没做完，另外1%是资源路径输错了</h2>
    <h2 align="center" style="color:black">然后还没发现什么别的报错信息了，如果有请联系：</h2>
    <h2 align="center" style="color:black">邮箱：yulinxiong@outlook.com QQ：3602217486 记得附上截图</h2>
    <h1 align="center" style="color:blue">© Pikabear 2020 All right reserved</h1>
</body>
</html>