<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>完成进度 - Pikabdar's Web</title>
</head>
<body>
    <h3 align="leaft" style="color:black">当前时间：{{t_time}}</h3>
    <h1 align="center" style="color:red">更新日志：</h1>
    <h3 align="center" style="color:gold">Sorry，20200726_V9以前的更新日志没有记录</h3>
    <h2 align="center" style="color:black">20200726_V9:更新了测试页面，目前用于测试Get提交数据和Post提交数据，可是还是有Bug，会跳转错误</h2>
    <h2 align="center" style="color:black">20200730_V10:更新了中译英的翻译功能！！！</h2>
    <h2 align="center" style="color:black">20200730_V10_1:优化了中译英的翻译功能，修复POST提交方式的bug</h2>
    <h2 align="center" style="color:black">20200730_V10_2:优化了中译英的翻译功能，新增了英译中的翻译功能，优化了登录和注册：在登录、注册和翻译界面新增了必填项目，在翻译界面新增了只读项目</h2>
    <h3 align="center" style="color:green">你还可以看看我正在测试的界面。（测试界面出BUG就不要去反馈啦！！！）</h3>
    <a href="/home">点我返回上一页</a>
    <a href="/test_page_1">点我前往测试界面1</a>
    <a href="/test_page_2">点我前往测试界面2</a>
    <h1 align="center" style="color:blue">© Pikabear 2020 All right reserved</h1>
</body>
</html>