<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线翻译 - Pikabear's Web</title>
</head>
<body>
<h1>在线小翻译:英译中</h1>
    <form action="/do_trans_en2zh">
        <h10>此页面为英译中，默认为中译英</h10>
        <a href="/trans_zh2en">点我前往默认（中译英）界面</a>
        <br>
        <textarea name="txt" cols="20" rows="10" required>{{t_txt}}</textarea>
        <textarea cols="20" rows="10" readonly>{{result}}</textarea>
        <input type="submit" value="英译中">
    </form>
</body>
</html>