<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>相册列表页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/album/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/album/css/common.css">
    <link rel="stylesheet" href="/static/album/css/album_list.css">
</head>

<body>
    <div class="mask"></div>
    <div id="bg"></div>

    <div id="container">
        <header>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 margin0 padding0 width28 gobackWrap">
                <a href="/main" class="goBack">
                    <img src="/static/album/images/back.png">
                    <span class="goBackIndex">返回</span>
                </a>
            </div>
            <div class="col-xs-2 col-sm-2 hidden-sm hidden-md hidden-lg margin0 padding0 width12 fanIcon ">
                <img class="" src="/static/album/images/avatar.png">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 hidden-xs wel">
                <img src="/static/album/images/avatar.png">
                <span class="welcomtitle">欢迎使用{{ t_username }}的工具箱</span>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 pull-right">

            </div>
        </header>
        <div class="main">

            <div class="albumList container">
                <div class="btn">
                    <a href="#"></a>
                    <span class="album">相册列表</span>
                    <a href="/upload">上传图片</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 albumCover createAlbum">
                    <div class="createImg">
                        <div>
                            <a href="/create">
                                <img src="/static/album/images/createAlbum.png"
                                    style=" height:auto;max-width:100%">
                            </a>
                        </div>

                    </div>


                    <p class="albumNum">

                    </p>
                </div>
                {% for album in t_album_list %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 albumCover">
                    <!-- 创建超链接，点击相册封面图片(超链接)进入图片列表页面
                             地址：/image_list
                             跳转同时需要传入相册名，数据名称：albumname
                        -->
                    <div class="coverImg">
                        <div>
                            <a href="/image_list?albumname={{album.albumname}}">
                                <img src="{{album.img_path}}">
                            </a>
                        </div>

                    </div>


                    <p class="albumNum">
                        {{album.albumname}} ({{album.num}}张)
                    </p>
                </div>

                {% endfor %}

            </div>
        </div>

    </div>
    <div id="footer">
        COPYRIGHT© {{t_username}} 2020
    </div>
    <script src="/static/album/js/jquery-3.3.1.min.js"></script>
</body>

</html>