<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>图片列表页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/album/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/album/css/common.css">
    <link rel="stylesheet" href="/static/album/css/img_list.css">
</head>

<body>
    <div class="mask"></div>
    <div id="bg"></div>

    <div id="container">
        <header>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 margin0 padding0 width28 gobackWrap">
                <a href="/album_list" class="goBack">
                    <img src="/static/album/images/back.png">
                    <span class="goBackIndex">返回</span>
                </a>
            </div>
            <div class="col-xs-2 col-sm-2 hidden-sm hidden-md hidden-lg margin0 padding0 width12 fanIcon ">
                <img class="" src="/static/album/images/avatar.png">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 hidden-xs wel">
                <img src="/static/album/images/avatar.png">
                <span class="welcomtitle">欢迎使用{{ t_username }}的工具箱</span>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 pull-right">

            </div>
        </header>
        <div class="main">
            <!-- <div class="city">
                <span>{{ city }}</span><span class="picNum"></span>
            </div> -->
            <!-- 显示相册名 -->
            <h2>{{t_albumname}}</h2>
            <div class="container">
                <!-- 模板变量t_imgs_list存储该相册所有图片地址-->
                {% for img_path in t_imgs_list %}

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 image">
                    <div>
                         <img src="{{img_path}}" class="pic">
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- <a href="/album_list">返回相册列表</a> -->
        </div>

    </div>
    <!--图片放大层-->
    <div id="outerdiv"
        style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:99;width:100%;height:100%;display:none;">
        <div id="innerdiv" style="position:absolute;">
            <img id="bigimg" style="border:5px solid #fff;" src="" />
        </div>
    </div>

    <div id="footer">
        COPYRIGHT© {{t_username}} 2020
    </div>
    <script src="/static/album/js/jquery-3.3.1.min.js"></script>
    <script src="/static/album/js/bigImg.js"></script>
</body>

</html>