<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>任务本</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/todo/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/todo/css/common.css">
    <link rel="stylesheet" href="/static/todo/css/index.css">
</head>
<body>
<div class="mask"></div>
<div id="bg"></div>
<div id="container" class="container">
    <header>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 margin0 padding0 width28 gobackWrap">
            <a href="/main" class="goBack">
                <img src="/static/trans/images/back.png">
                <span class="goBackIndex">返回主页</span>
            </a>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 hidden-xs wel">
            <img src="/static/todo/images/avatar.png">
            <span class="welcomtitle">欢迎使用{{ t_username }}的工具箱</span>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 pull-right">
            <div class="pull-right welcomt"></div>
        </div>
    </header>
    <div class="main row">
        <div class="taskDateWrap">
            <div class="mainTop col-xs-12 col-md-12 col-sm-12 col-lg-12">
                        <span class="user">
                            <span class="userName">{{t_username}}的任务本</span>
                        </span>
                <img class="monkey" height="90" src="/static/images/work.png" alt="">
                <a class="addtask" href="/todo/add">
                    <img width="46" src="/static/todo/images/addtask.png" alt="">
                    <span class="hidden-xs">添加任务</span>
                </a>
            </div>
            <div class="subjectTime col-xs-12 col-md-12 col-sm-12 col-lg-12 ">
                <form action="/todo" name='f1' method="get">
                    <div class="dateSubjectWrap">
                        <label for="data" class="data">日期：</label>
                        <select name="date" onchange="f1.submit()" id="data">
                            {% for item in t_date_options %}
                            {% if item==t_date %}
                            <option value={{ item }} selected>{{ item }}</option>
                            {% else %}
                            <option value={{ item }}>{{ item }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="dateSubjectWrap">
                        <label for="object" class="object">科目：</label>
                        <select name="subject" onchange="f1.submit()" id="object">
                            {% for item in t_subject_options %}
                            {% if item==t_subject %}
                            <option value="{{ item }}" selected>{{ item }}</option>
                            {% else %}
                            <option value="{{ item }}">{{ item }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="content">
            <div class="noFinsh cont clearfix">
                <ul>
                    {% for item in t_todo_list %}
                    {% if item.state == 'unfinished' %}
                    <li class="listItem clearfix">
                        <p>
                        <span class="time">{{item.date}}</span>
                        <span class="note"><span class="biancheng object">【{{item.subject}}】</span>
                            <span class="noteCont">{{item.content}}</span></span>
                        </p>
                        <p>
                            <a class="delBtn btn fr" href="/todo/deleted?_id={{ item._id }}"></a>
                            <a class="rightBtn btn fr" href="/todo/finished?_id={{ item._id }}"></a>
                        </p>
                    </li>

                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="finshed cont clearfix">
                <ul>
                    {% for item in t_todo_list %}
                    {% if item.state == 'finished' %}
                    <li class="listItem clearfix">
                        <span class="time">{{item.date}}</span>
                        <span class="note"><span class="math object">【{{item.subject}}】</span>
                            <span class="noteCont">{{ item.content}}</span></span>
                        <a class="repeatBtn btn fr" href="/todo/unfinished?_id={{ item._id }}"></a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    COPYRIGHT© {{t_username}} 2019
</div>
<script src="/static/todo/js/jquery-3.3.1.min.js"></script>
</body>
</html>