.mon-ban{
    width:83px;
    height:95px;
}
.main{
    padding: 147px 0;
}
.contentTop{
    width: 356px;
    margin: 0 auto;
}
.contentTop .title {
    display: inline-block;
    width: 251px;
    height: 87px;
    margin-right: 16px;
    line-height: 33px;
    color:rgba(71,72,76,1);
    font-size: 24px;
    font-weight: 500;
    text-align: right;
    background-image: url(../images/hometown.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
}
.title .titletxt{
    margin-top: 54px;
    display: inline-block;
}
.content{
    padding-top: 50px;
    box-sizing: border-box;
    text-align: center;
    line-height: 40px;
    width: 100%;
}
.cont{
    display: inline-block;
    min-width: 457px;
    margin: 0 auto;
    width: 100%;
}
.contct{
    display: inline-flex;
    justify-content:center;
    width: 100%;
}
.flag{
    font-size: 16px;
    color:rgba(73,74,87,1);
    margin-right: 10px;
}
select{
    width:163px;
    height:40px;
    background:rgba(32,53,128,0.01);
    border-radius:3px;
    border:1px solid rgba(32,53,128,0.16);
    font-size: 14px;
    color:rgba(0,0,0,1);
    appearance:none;  
    -moz-appearance:none;  
    -webkit-appearance:none;  
    /*在选择框的最右侧b中间显示小箭头图片*/  
    background-image: url("../images/Shape.png");
    background-repeat: no-repeat;
    background-size: 10px 5px;
    background-position: 148px 16px;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/  
    padding-right: 14px;  
    padding-left: 4px; 
    box-sizing: border-box; 
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/  
select::-ms-expand { display: none; }  
.nextBtn{
    height: 53px;
    width: 162px;
    cursor: pointer;
    margin-left: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 162px 53px;
}

.city{
    min-width: 54px;
    text-align: right;
    margin-right: 24px;
}
.choosebtn{
    display: none!important;
    
}
.choosebtnl{
    display: inline-block;
    background-image: url(../images/choose.png);
}
.uploadbtn{
	visibility: hidden;
    background-image: url(../images/pcuploadBtn.png);
}
.fxfile{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: chartreuse;
        opacity: 0;
        display: inline-block;
        margin-left: 20px;
}
@media screen and (max-width:480px){
    .cityListWrap {
        padding: 0;
        float: left;
        width: 50%;
    }
    .city{
        width: 91%;
        height: 4rem;
        border-radius: 10px;
        margin:0 1rem;
    }
    .m-text{
        max-width: 920px;
        padding: 0 0px;
        margin-top: 20px;
    }
    .m-text >div{
        text-align: left;
        display: block;
        padding: 0 3rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .city div{
        line-height: 4rem;
    }
    .cityair,.cityname{
        font-size: 1rem;
    }
    .cityList{
        width: 100%;
    }
    .location{
        width: 85%;
        height: 11rem;
        margin: 0;
        margin-left: 5%;
        padding: 10px;
        margin-bottom: 1.5rem;
    }
    .main{
        margin: 0 10px;
        padding: 50px 0;
    }
    header{
        padding: 10px;
    }
    .margin0{
        margin: 0;
    }
    .padding0{
        padding: 0;
    }
    .width28{
        width: 35%;
    }
    .width12{
        width: 12%;
    }
    .gobackWrap{
        width: 35%;
    }
    .contentTop{
        width: 100%;
    }
    .contentTop .title{
        width: 200px;
    }
    .cont{
        width: 55%;
        min-width: auto;
        position: relative;
    }
    .flag{
        margin-right: 1%;
    }
    .nextBtn-label{
        margin-top: 20px;
    }
    .seleJiaTxt{
        position: absolute;
        left: -65apx;
    }
    .city{
        text-align: left;
    }
    .fxfile{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: chartreuse;
        opacity: 0;
        display: inline-block;
        margin-left: 20px;
    }
}
