<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>main</title>
    <link rel="stylesheet" href="/static/main/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main/css/common.css">
    <link rel="stylesheet" href="/static/main/css/main.css">
</head>
<body>
<div class="mask"></div>
<div class="box">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="row">
                <div class="navbar-header col-md-8 col-lg-8">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand pl" href="javascript:;">
                        <img class="hidden-md hidden-lg pull-left" height="60" src="/static/main/images/avatar.png"
                             alt="">
                        <div class="pull-left  mynav_leftuser pl">
                            
                            <div class="mynav_user"><img class="hidden-sm hidden-xs vm" height="60"
                                                         src="/static/main/images/avatar.png">欢迎使用的工具箱
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse navbar-collapse mobiologinangregist" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>

                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div class="mainContiner container-fluid">

        <div class="boxone row">
            <div class="mainTitle col-xs-12">游戏</div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="/monkey">宇宙小猿</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="/calorie">卡路里大挑战</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="/typing">打字小游戏</a></div>
        </div>
    </div>
</div>
<script src="/static/main/js/jquery-3.3.1.min.js"></script>
<script src="/static/main/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
